doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="css/tables.css")
        title Servicios
    body 
        h1= title
        main
            table(class="table")
                colgroup
                    col(class="col1")
                    col(class="col2")
                    col(class="col3")
                    col(class="col4")
                thead
                    th(class="table__head") ID
                    th(class="table__head") Nombre
                    th(class="table__head") Descripción
                    th(class="table__head") Acciones
                tbody
                    each service in services
                        tr(class="table__row")
                            td(class="table__data")= service.id.substr(-1) 
                            td(class="table__data")= service.name  
                            td(class="table__data")= service.description 
                            td(class="table__data")
                                form(action="/servicios/editar" method="POST")
                                    input(type="hidden" name="id" value=service.id)    
                                    input(type="submit" value="Editar" class="container-update")
                                input(type="button" value="Eliminar" class="container-delete" data-id=service.id)
            div(class="container-add")
                a(href="/servicios/crear" class="container-add__link") Crear un servicio

        script.
            let deleteButton = document.querySelectorAll('.container-delete');
            deleteButton.forEach(button => {
                button.addEventListener('click', async () => {
                    let id = button.dataset.id //-Captura el id que se le pasa por data-id
                    try {
                        await fetch(`/servicios/${id}`, {
                            method: 'delete'
                        })
                            .then(() => alert('Eliminado exitosamente'))
                            .then(() => location.reload(true))
                            .catch(() => alert('No se pudo eleminar el registro'))
                    } catch(error) {
                        console.log(error)
                    }
                })
            
            }) 